<div id="attendance_control_panel">
  <%= render "admin/attendance/attendance_control_panel", training_class: training_class, existing_record: existing_record, summary: summary, attendance_date: local_assigns[:attendance_date], learning_hour: local_assigns[:learning_hour] %>
</div>
