<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header bg-warning">
          <h4 class="mb-0"><i class="bi bi-pencil"></i> แก้ไขรายการค่าใช้จ่าย</h4>
        </div>
        <div class="card-body">
          <%= form_with model: [@training_class, @class_expense],
              url: admin_training_class_class_expense_path(@training_class, @class_expense),
              local: true do |f| %>
            <%= render "form", f: f %>
            <div class="d-flex justify-content-between">
              <%= link_to "ยกเลิก", admin_class_workspace_finance_path(@training_class), class: "btn btn-secondary" %>
              <%= f.submit "บันทึก", class: "btn btn-warning" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
